<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Easymodbus_Serial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Easymodbus_Serial.Properties.Settings>
            <setting name="vision_roi_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vision_roi_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vision_roi_w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vision_roi_h" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vision_filter_min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vision_filter_max" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vision_area" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="portPLC" serializeAs="String">
                <value />
            </setting>
            <setting name="portMCU" serializeAs="String">
                <value />
            </setting>
            <setting name="Pick" serializeAs="String">
                <value />
            </setting>
            <setting name="place_Normal" serializeAs="String">
                <value />
            </setting>
            <setting name="place_Polarity" serializeAs="String">
                <value />
            </setting>
        </Easymodbus_Serial.Properties.Settings>
    </userSettings>
</configuration>